:root {
  --main-color: #333;
  --light-color: #fff;
  --accent-color: #4299E1;
  --lighten-accent-color: #4299e14d;
  --accent2-color: #faa12c;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: var(--main-color);
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 3px 8px rgba(0,0,0,.24);
}

.main {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}

@media (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
  }
}

.personal-info {
  padding-right: 20px;
}

.personal-info__name {
  position: relative;
  font-size: 36px;
  font-weight: 400;
  color: var(--accent-color);
}

.personal-info__name::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 70px;
  height: 9px;
  background-color: var(--lighten-accent-color);
  border-radius: 35px;
}

.personal-info__name span {
  display: block;
  text-transform: uppercase;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
}

.contacts {
  position: relative;
  padding: 0 20px;
  background-image: url("./images/design-elements.svg");
  background-repeat: no-repeat;
  background-position: 40px center;
  background-size: 250px;
  overflow: hidden;    
}

.contacts::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -200px;
  z-index: -1;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--lighten-accent-color);
}

.photo {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 
    0 6px 12px -2px rgba(50,50,93,.25), 
    0 3px 7px -3px rgba(0,0,0,.3);
  object-fit: cover;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.contacts__item {
  margin-bottom: 7px;
}

.contacts__item span {
  font-weight: bold;
  color: var(--accent-color);
}

.contacts__item a {
  text-decoration: none;
  color: var(--main-color);
}

.contacts__item a:hover,
.contacts__item a:focus {
  font-weight: bold;
}

.text {
  margin: 0;
  font-size: 16px;
}

.addition {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.date {
  display: block;
  font-size: 12px;
  color: var(--accent-color);
}

.courses__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  border-left: 2px solid var(--lighten-accent-color);
}

.courses__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 5px;
}

.courses__item::before {
  content: '';
  position: absolute;
  left: -26px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: var(--light-color);
}

.courses__links {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
  transition: color .3s;
}

.courses__links:hover,
.courses__links:focus {
  color: var(--accent-color);
}

.courses__links::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  margin-left: 10px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.courses__links:last-child::after {
  display: none;
}

.aside {
  padding-left: 20px;
  padding-right: 20px;
}

.skills__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__item {
  margin-bottom: 20px;
}

.skills__group {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 20px;
}

.skills__names {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
  list-style: none;
}

.skills__names li {
  display: inline-block;
  vertical-align: baseline;
}

.skills__names li::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.skills__names li:last-child:after {
  display: none;
}

.addon {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 800px) {
  .addon {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
  }
}

.addon__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.addon .title {
  margin-top: 0;
}

.portfolio-link {
  position: relative;
  width: 180px;
  margin-top: auto;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  background-color: var(--light-color);
  border: 2px solid var(--accent2-color);
  border-radius: 25px;
  transition: all 0.3s;
}

.portfolio-link:hover {
  color: var(--light-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.languages__list {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.language__item {
  margin-bottom: 10px;
}

.language__item span {
  font-weight: bold;
}

.code-example {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--lighten-accent-color);
}

.code-example .title {
  position: absolute;
  top: -15px;
  left: -20px;
  padding: 5px 15px;
  font-size: 14px;
  color: var(--light-color);
  background-color: var(--accent2-color);
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.code-example__code {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
}

@media (min-width: 600px) {
  .code-example__code {
    font-size: 14px;
  }
}

.code-example__description h3 {
  margin-top: 0;
  font-size: 14px;
}

.code-example__description blockquote {
  position: relative;
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
  font-style: italic;
}

.code-example__description blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  opacity: .3;
}

.code-example__description ul {
  margin-top: 5px;
  padding-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--light-color);
  background-color: var(--accent-color);
}

.rs-school-link {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: auto;
}

.rs-school-link img {
  transition: transform 0.3s;
}

.rs-school-link:hover img {
  transform: rotate3d(0, 1, 0, 360deg);
}

.github-link {
  display: inline-flex;
  align-items: center;
  height: 40px;
  color: var(--light-color);
  text-decoration: none;
}

.github-link img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.github-link:hover span {
  text-decoration: underline;
}

.copyright {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 500px) {
  .rs-school-link {
    order: 3;
  }

  .github-link {
    order: 1;
  }

  .copyright {
    order: 2;
    width: auto;
  }
}